.card {
    text-align: center;
    margin: 10px;
    align-self: center;
}

.card-img {
    background-color: #4C9742;
    margin-bottom: 0px;
    border: 5px solid #4C9742;
    border-radius: 10px 10px 0px 0px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    border-radius: 10px;
}

.card-label {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #0203FB;
    color: white;
    margin-top: -4px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    text-transform: capitalize;
}

.card-disabled {
    opacity: 0.3;
}